<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerindex.ejs') %>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- sidebar code -->
        <%- include('../partials/sidebar.ejs') %>
        <!-- background slider -->
        <%- include('../partials/backgroundSlider.ejs') %>
        <!-- navigation bar -->
        <%- include('../partials/navigationbar.ejs') %>
        <!-- section -->
        <%- include('../partials/section.ejs') %>
        <!-- artist -->
        <%- include('../partials/artistlook.ejs') %>
        <!-- Lets Play -->
        <%- include('../partials/letsplay.ejs') %>
        <!-- player code -->
        <%- include('../partials/playercode.ejs') %>
    </div>
<script src="javascript/darkmode.js"></script>
<script src="javascript/musicplay.js"></script>
<script src="javascript/artistSource.js"></script>
<script src="javascript/playerExpand.js"></script>
<script src="javascript/slider.js"></script>
</body>
</html>