<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headersearch.ejs') %>
</head>
<body>
    <div class="container">
        <!-- searchbar -->
        <%- include('../partials/searchbarcode.ejs') %>
        <!-- sidebar code -->
        <%- include('../partials/sidebar.ejs') %>
        <!-- background slider -->
        <%- include('../partials/backgroundSlider.ejs') %>
        <!-- player code -->
        <%- include('../partials/playercode.ejs') %>
        <!-- slider -->
        <%- include('../partials/slider.ejs') %>
    </div>
    <script src="javascript/darkmode.js"></script>
    <script src="javascript/artistSource.js"></script>
    <script src="javascript/playerExpand.js"></script>
    <script src="javascript/slider.js"></script>
    <script src="javascript/musicplay.js"></script>
</body>
</html>